# project files
instance/user.sqlite
downloadFolder/*

# Cache files
__pycache__/*
*/__pycache__/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
virt/*