<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<title>Listing page</title>

<h1>Your documents</h1>
<ul>
  {% for document in documents %}
    <li>
      <div class="documentRow">
        <a href="{{url_for( 'act_on_document', document=document.name )}}">{{document.name}}</a>

        <form action="{{ url_for('act_on_document', document=document.name ) }}" method="POST">
          <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
      </div>
    </li>
  {% endfor %}
</ul>
<br>
<a href="{{url_for('upload_document')}}">This way to upload more documents</a>