<!doctype html>
<title>Listing page</title>
<h1>Your documents</h1>
{% for document in documents %}
  <li>
    <a href="{{url_for( 'download_document', document=document.name )}}">{{document.name}}</p>
    <!-- <button href="{{url_for( 'delete_document', document=document.name )}}">Delete</button> -->
    <form action="{{ url_for('delete_document', document=document.name ) }}" method="post">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
  </li>
{% endfor %}