<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<form action="{{ url_for('logout') }}" method="GET">
  <button>Logout</button>
</form>

<title>Listing page</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Your documents</h1>
<ul>
  {% for document in privateDocuments %}
    <li>
      <div class="documentRow">
        <a href="{{url_for( 'act_on_document', document=document.url )}}">{{document.name}}</a>

        <form action="{{ url_for('share_document', document=document.url ) }}" method="POST">
          <input class="danger" type="submit" value="Share" onclick="return confirm('All other users will have access to that document, are you sure?');">
        </form>
        <form action="{{ url_for('act_on_document', document=document.url ) }}" method="POST">
          <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
      </div>
    </li>
  {% endfor %}
</ul>
<h1>Public documents</h1>
<ul>
  {% for document in publicDocuments %}
    <li>
      <div class="documentRow">
        <a href="{{url_for( 'act_on_document', document=document.url )}}">{{document.name}}</a>

        <form action="{{ url_for('unshare_document', document=document.url ) }}" method="POST">
          <input class="danger" type="submit" value="Unshare" onclick="return confirm('All other users will lose access to that document, are you sure?');">
        </form>
        <form action="{{ url_for('act_on_document', document=document.url ) }}" method="POST">
          <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
      </div>
    </li>
  {% endfor %}
</ul>
<br>
<a href="{{url_for('upload_document')}}">This way to upload more documents</a>